:root {
    // Alphabetical Order plz
    --background-color: #F4FFF8;
    --background2-color: #1C3738;
    --background3-color: #8BAAAD;
    --border-color: #000F08;
    --box-shadow-color: #4D4847;
    --button-color: #F4FFF8;
    --button2-color: #000F08;
    --footer-color: #1C3738;
    --hover-color: #1C3738;
    --navbar-color: #1C3738;
    --text-color: #F4FFF8;
    --text2-color: #4D4847;
    --text3-color: #000F08;
    --text4-color: #1C3738;
}