/* Styling for Home.js */
@import './Global.scss';

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 40px;
    color: #000F08;
  }

  p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: var(--text3-color);
  }

  button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: var(--button2-color);
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      background-color: var(--hover-color);
      cursor: pointer;
      transition: 0.3s ease-in;
    }
  }
}

.buttonsContainer {
  margin-top: 40px;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000F08;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #8BAAAD;
}

.startingLineup {
  margin-top: 40px;
}

.lineup {
  display: flex;
}

.player {
  flex: 1;
  text-align: center;
  border: 1px solid #000F08;
  padding: 10px;
  margin: 0px;
  height: 60px;
}

.calendar {
  margin-top: 60px;
  text-align: center;
}

.calendar h2 {
  color: #000F08;
}

.daysContainer {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  height: 130px;
}

.teamDropdown {
  margin-bottom: 10px;
}

.teamDropdown select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

