.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.headerContainer h1 {
  font-size: 40px;
  color: #000F08;
}

.buttonsContainer {
  margin-top: 40px;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000F08;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #8BAAAD;
}

.startingLineup {
  margin-top: 40px;
}

.lineup {
  display: flex;
}

.player {
  flex: 1;
  text-align: center;
  border: 1px solid #000F08;
  padding: 10px;
  margin: 0px;
  height: 60px;
}

.calendar {
  margin-top: 60px;
  text-align: center;
}

.calendar h2 {
  color: #000F08;
}

.daysContainer {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  height: 130px;
}
.teamDropdown {
  margin-bottom: 10px;
}

.teamDropdown select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
