/* Styling for Insights.js */
@import './Global.scss';

// INSIGHTS
.insights {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-size: 4rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 10px;
        color: var(--text3-color);
        text-align: center;
    }

    .search-wrapper {
        position: relative;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="text"] {
            width: 100%;
            max-width: 300px;
            padding: 10px;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;

        .dropdown-item {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    .dropdown .dropdown-item {
        color: black;
    }
}
