/* Styling for Insights.js */
@import './Global.scss';

// INSIGHTS
.insights {
  width: 100%;
  height: auto;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  background: linear-gradient(0deg, var(--background-color), var(--background3-color));

  .title {
    font-size: 4rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    color: var(--text3-color);
  }

  
  .playerListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
    flex-grow: 1; /* Allow the container to grow vertically */
  }

  .playerGrid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .playerCard {
    background-color: var(--background3-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    width: 300px; 
    text-align: center; 
    padding-bottom: 10px;
  }

  .playerList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    overflow-y: auto; /* For scrolling */
  }

  
  .content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;

    .column {
      flex: 1;
      margin-right: 20px; 
      padding: 20px;
      border: 2px solid var(--border2-color); 
      border-radius: 10px; 
      
      h2 {
        margin-bottom: 30px;
      }
      
      .scrollable-cards {
        height: 400px; 
        overflow-y: auto;
        padding-right: 10px; 

        &::-webkit-scrollbar {
        width: 10px; 
        }
  
        &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color); 
        border-radius: 4px; 
        }
  
        &::-webkit-scrollbar-track {
        background-color: var(--scrollbar2-color); 
        border-radius: 4px; 
        }

        .card {
          margin-bottom: 10px;
          padding: 10px;
          border: 2px solid var(--border2-color); 
          border-radius: 10px; 
        }
      }

      .teamRecordsData {
        font-size: 1rem;
      }

      .addNote {
        width: 100%;
        height: 100px;
        resize: none;
        margin-bottom: 10px;
        background-color: var(--background-color);
        font-size: 1rem;
        border-radius: 5px;

        &::-webkit-scrollbar {
          width: 10px; 
          }
    
          &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-color); 
          border-radius: 5px; 
          }
    
          &::-webkit-scrollbar-track {
          background-color: var(--scrollbar2-color); 
          border-radius: 5px; 
          }
      }

      .addNoteButton {
        padding: 5px 10px;
        font-size: 1rem;
        border-radius: 5px;
        background-color: var(--button2-color);
        color: var(--text-color);
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: inline-block;
        width: auto;
        margin-bottom: 20px;
        
        &:hover {
          background-color: var(--box-shadow-color);
        }
      }

      .note-container {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid var(--border2-color);
        border-radius: 5px;

        .notes {
          width: 99%;
          height: 50px;
          resize: none;
          margin-bottom: 10px;
          background-color: var(--background-color);
          font-size: 1rem;
          border-radius: 5px;

          &::-webkit-scrollbar {
            width: 10px; 
            }
      
            &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-color); 
            border-radius: 5px; 
            }
      
            &::-webkit-scrollbar-track {
            background-color: var(--scrollbar2-color); 
            border-radius: 5px; 
            }
        }

        .note-actions {
          display: flex;
          align-items: center;

          .save-note,
          .cancel-edit {
            margin-right: 10px;
            cursor: pointer;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: var(--button2-color);
            color: var(--text-color);
          }
            
          .save-note:hover,
          .cancel-edit:hover {
            background-color: var(--box-shadow-color);
          }

          .edit-note,
          .delete-note {
            margin-right: 10px;
            cursor: pointer;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: var(--button2-color);
            color: var(--text-color);
          }
            
          .edit-note:hover,
          .delete-note:hover {
            background-color: var(--box-shadow-color);
          }
        }

        .note-text {
          margin-bottom: 10px;
        }
      }
    }
  }
}
