/* Styling for PlayerManagement.js */
@import './Global.scss';

// PLAYER MANAGEMENT

.playerManagement {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    background: linear-gradient(0deg, var(--background-color), var(--background3-color));

    .teamSelection select {
      padding: 2px;
      font-size: 25px;
      border-radius: 5px;
      width: auto;
      margin: 20px 0; 
      display: block; 
      margin-left: auto; 
      margin-right: auto; 
      background-color: #FFF; 
      border: 1px solid #ccc; 
    }

    .modal {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      
      .modalContent {
        background-color: var(--background3-color);
        margin: 5% auto;
        padding: 20px;
        border: 1px solid var(--border-color);
        width: 60%;
        max-height: 80vh;
        overflow-y: auto;
        position: fixed; 
        left: 50%; 
        top: 40%; 
        transform: translate(-50%, -50%);
        display: block;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
          &::-webkit-scrollbar {
            width: 8px; 
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-color); 
            border-radius: 10px; 
          }
        
          &::-webkit-scrollbar-track {
            background-color: var(--scrollbar2-color); 
            border-radius: 10px; 
          }
    
        h2 {
          color: var(--text4-color);
          font-size:  2.5rem;
        }

        input {
          margin: 5px;
          background-color: var(--background-color);
          font-size: 1.25rem;
        }

        button {
          width: 150px;
          margin-bottom: 10px;
          margin-top: 20px;
          background-color: var(--button2-color);
          color: var(--text-color);
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          align-self: center;
          transition: background-color 0.3s;
          &:hover {
              background-color: var(--hover-color);
          }
        }

        .close {
          color: var(--box-shadow-color);
          float: right;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            color: black;
          }
        }

        // .checkboxes {
        //   size: 2rem;
        // }

        label {
          font-size: 25px; 
          color: var(--text2-color);
          padding: 12px; 
          margin: 10px 0; 
        }
      }
    }

    .title {
      font-size: 4rem; 
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 10px; 
      color: var(--text3-color); 
    }

    // POSITION LIST

  .positionList {
    width: 100%;
    display: flex;
    flex-direction: column;

    .positionContainer {
      margin-top: 20px;
      margin-bottom: 20px; 
      margin-left: 20px; 
      margin-right: 20px; 

      .buttonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;

        .playerManagementButton {
          display: flex;
          justify-content: center;
          margin: 0 10px;
          margin-top: 10px;
          padding: 10px 20px;
          background-color: var(--button2-color);
          color: var(--text-color);
          text-decoration: none;
          border-radius: 5px;
          font-size: 16px;
        }
      }

      .playerManagementButton:hover {
        background-color: var(--hover-color);
      }
  
      h2 {
        color: var(--text4-color);
        font-size:  2.5rem;
        margin-bottom: 10px;
      }

      .icons {
        // position: absolute;
        // top: 300px;
        // right: 30px;
        margin-bottom: 10px;
      }

      .addCircleIcon {
        cursor: pointer;
        font-size: 2rem;
        margin-right: 5px;
    }
  
      .playerGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
      }
    }
  }
  
}