/* Styling for PlayerStats.js */
@import './Global.scss';

// PLAYER STATS

.playerStats {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #263238;
}

.playerList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playerItem {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.playerItem:hover {
  background-color: #e0e0e0;
}

.playerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.playerLabel {
  flex: 1;
  padding-left: 10px;
}

.playerRecord {
  padding-right: 10px;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.toggleSwitchContainer {
  margin-bottom: 10px;
  text-align: center;
}

.toggleSwitch {
  display: inline-block;
  padding: 10px;
  background-color: #1C3738;
  color: #F4FFF8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.toggleSwitch:hover {
  background-color: #163033;
}

.playerStats {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // HEADING
  
  .playerStats h1 {
    font-size: 4rem; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px; 
    color: var(--text3-color); 
  }