/* Styling for PlayerStats.js */
@import './Global.scss';

.playerStats {
  background: linear-gradient(45deg, var(--background-color), var(--background2-color));
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    font-size: 4rem; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px; 
    color: var(--text3-color); 
  }

  .tableWrapper {
    width: 85%;
    margin: 20px auto;
    overflow-x: auto;
    max-height: 1500px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;

    table {
      // width: 100px;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px var(--box-shadow-color);
    }
  
    th, td {
      border: 1px solid var(--border-color);
      padding: 8px;
      text-align: center;
    }
  
    th {
      background-color: var(--background-color); 
      font-weight: bold; 
    }
  
    tbody tr:nth-child(even) {
      background-color: var(--background3-color); 
    }
  }

  h2 {
    color: var(--text4-color);
    font-size:  2.5rem;
  }
}
