/* Styling for PlayerStats.js */
@import './Global.scss';

.playerStats {

  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(2),
  td:nth-child(2) {
    position: sticky;
    left: 0;
    background-color: white; /* Adjust as needed */
  }

  background: linear-gradient(45deg, var(--background-color), var(--background2-color));
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;

  .headers {
    align-self: left;
  }

  .teamSelection select {
    padding: 2px;
    font-size: 25px;
    border-radius: 5px;
    width: auto;
    margin: 20px 0; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: var(--button-color); 
    border: 1px solid var(--border3-color); 
  }

  .title {
    font-size: 4rem; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px; 
    color: var(--text3-color); 
  }

  .tableWrapper {
    width: 85%;
    margin: 20px auto;
    overflow-x: auto;
    max-height: 1500px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color);
      border-radius: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar2-color);
      border-radius: 8px;
    }

    table {
      // width: 100px;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px var(--box-shadow-color);
    }
  
    th, td {
      border: 1px solid var(--border-color);
      padding: 8px;
      text-align: center;
    }
  
    th {
      background-color: var(--background-color); 
      font-weight: bold; 
    }
  
    tbody tr:nth-child(even) {
      background-color: var(--background3-color); 
    }
  }

  h2 {
    color: var(--text4-color);
    font-size:  2.5rem;
  }
}
