@import './Global.scss';

.modalContent {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  form {
    display: flex;
    flex-direction: column;
    // gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="radio"],
  input[type="number"] {
    margin-top: 5px;
  }
  
  button {
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: var(--button2-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s;
    &:hover {
        background-color: var(--hover-color);
    }
  }

  input[type="number"] {
    width: 100px;
  }
  
  .form-field { 
    display: flex;
    flex: auto;
    margin:.5%;
  }

  .form-field input {
    margin-right: 1%;
  }

  .save-button {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--button2-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .save-button:hover {
    background-color: var(--hover-color);
  }