@import './Global.scss';

.quick-entry {
  background: linear-gradient(180deg, var(--background-color), var(--background3-color));
  
  .modalContent {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="radio"],
  input[type="number"] {
    margin-top: 5px;
  }
  
  button {
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: var(--button2-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s;
    &:hover {
        background-color: var(--hover-color);
    }
  }

  input[type="number"] {
    width: 100px;
  }
  
  .form-field { 
    display: flex;
    flex: auto;
    margin:.5%;
  }

  .form-field input {
    margin-right: 1%;
  }

  .save-button {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--button2-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .save-button:hover {
    background-color: var(--hover-color);
  }

  .tab {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    background-color: var(--background3-color);
    border-radius: 20px;
    margin: 0 auto 40px;
    margin-top: 1.5%;

    button {
      position: relative;
      flex: 1;
      padding: 20px 0;
      font-size: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;
      z-index: 2;

      &:hover {
        color: var(--hover2-color);
        // background-color: var(--background-color);
      }
    }

    .active {
      color: var(--text-color);
      background-color: transparent;
    }

    .slider {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 50%;
      background-color: var(--background2-color);
      border-radius: 20px;
      transition: transform 0.3s ease;
      z-index: 1;
    }

    .slider.left {
      transform: translateX(-50%);
    }

    .slider.right {
      transform: translateX(50%);
    }
  }
}