/* Styling for Settings.js */
@import './Global.scss';

// SETTINGS

.Settings {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    
// SETTINGS FORM

    .settings-form {
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // background-color: var(--background-color);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px var(--box-shadow-color);
      margin-bottom: 100px;
    }
    
    .settings-form label {
      font-size: 16px;
      color: var(--text2-color);
    }
    
    .settings-form input,
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
    }
    
    // button {
    //   width: 100%;
    //   padding: 15px;
    //   background-color: #1C3738;
    //   color: #F4FFF8;
    //   border: none;
    //   border-radius: 5px;
    //   cursor: pointer;
    //   margin-top: 20px;
    //   font-size: 16px;
    // }
    // 
    // button:hover {
    //   background-color: #0E2A2B;
    //   transition: 0.3s ease-in;
    // }
  }

  // HEADING
  
  .Settings h1 {
    color: var(--text3-color);
    font-size: 4rem; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px; 
  }
  

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
  }