/* Styling for Settings.js */
@import './Global.scss';

// SETTINGS

.Settings {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20px;
  font-weight: 100;
  background: linear-gradient(180deg, var(--background-color), var(--background3-color));

  .tab {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    background-color: var(--background3-color);
    border-radius: 20px;
    margin: 0 auto 40px;

    button {
      position: relative;
      flex: 1;
      padding: 20px 0;
      font-size: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;
      z-index: 2;

      &:hover {
        color: var(--hover2-color);
        // background-color: var(--background-color);
      }
    }

    .active {
      color: var(--text-color);
      background-color: transparent;
    }

    .slider {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 50%;
      background-color: var(--background2-color);
      border-radius: 20px;
      transition: transform 0.3s ease;
      z-index: 1;
    }

    .slider.left {
      transform: translateX(-50%);
    }

    .slider.right {
      transform: translateX(50%);
    }
  }

  .user-settings-tab {

    h1 {
      color: var(--text3-color);
      font-size: 4rem;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 40px;
      text-align: center;
    }

    .settings-form {
      width: 60vw; /* Adjusted for consistency */
    max-width: 800px; /* Consistent with the user settings form */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    margin-bottom: 100px;
    background-color: #f0f0f0; /* Optional: background color for contrast */
    
      input, select {
        width: 100%;
        padding: 12px;
        border: 1px solid var(--border-color);
        border-radius: 5px;

        label {
          font-size: 20px; /* Consistent font size */
          color: var(--text2-color);
          display: block;
          padding: 12px; /* Consistent padding */
          margin: 10px 0; /* Consistent margin */
          box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adjusted shadow for depth */
          border-radius: 5px; /* Consistent border-radius */
        }
      }
  }
  }

  .team-management-tab {

    h1 {
      color: var(--text3-color);
      font-size: 4rem;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 40px;
      text-align: center;
    }

    .teamList {
      width: 60vw; /* Adjusted for consistency */
      max-width: 800px; /* Consistent with the user settings form */
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px var(--box-shadow-color);
      margin-bottom: 100px;
      background-color: var(--background-color); /* Optional: background color for contrast */
    
      .teamItem {
        font-size: 25px; /* Consistent font size */
        color: var(--text2-color);
        display: block;
        padding: 12px; /* Consistent padding */
        margin: 10px 0; /* Consistent margin */
        box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adjusted shadow for depth */
        border-radius: 5px; /* Consistent border-radius */
      
        .current-team-buttons {
          display: flex;
          gap: 10px;

          button {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 1rem;
            border-radius: 5px;
            background-color: var(--button2-color);
            color: var(--text-color);
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: inline-block;
            width: auto;
        
            &:hover {
              background-color: var(--box-shadow-color);
            }
          }
        }
      }
  }

    .modal {
      display: block;
      position: fixed;
      // z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);

      .modalContent {
        background-color: var(--background3-color);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid var(--border-color);
        width: 50%; /* Adjusted for consistency */
        border-radius: 5px;
        max-height: 80vh;
        overflow-y: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &::-webkit-scrollbar {
          width: 8px; 
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-color); 
          border-radius: 10px; 
        }
      
        &::-webkit-scrollbar-track {
          background-color: var(--scrollbar2-color); 
          border-radius: 10px; 
        }

        h2 {
          color: var(--text4-color);
          font-size:  2.5rem;
        }

        input {
          margin: 10px;
          background-color: var(--background-color);
        }

        button {
          margin: 5px;
          background-color: var(--button-color);
        }
      }
    }

    .team-form {
      width: 60vw; /* Adjusted for consistency */
      max-width: 800px; /* Consistent with the user settings form */
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px var(--box-shadow-color);
      margin-bottom: 40px;
      background-color: var(--background-color); /* Optional: background color for contrast */
    
      .add-team-button {
        padding: 10px 15px; // Adjust padding to make it smaller
        font-size: 1rem; // Adjust font size to make it smaller
        border-radius: 5px;
        background-color: var(--button2-color); 
        color: var(--text-color);
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: inline-block;
        width: auto;
    
        &:hover {
          background-color: var(--box-shadow-color);
        }
      }
    }
  }

  h2 {
    margin-top: 0px;
    color: var(--text3-color);
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
  }
}
