.teamStats {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .teamStats h1 {
    font-weight: 400;
    font-size: 70px;
    color: #000F08;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }