/* Styling for TeamStats.js */
@import './Global.scss';

// TEAM STATS

.teamStats {
  width: 100%;
  padding: 20px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem; 
  margin-bottom: 1rem; 
  color: #263238; 
}

.teamManagement, .teamEdit {
  margin-bottom: 2rem;
  display: flex;
  gap: 15px; 
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px; 
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8; 
}

.teamList {
  width: 80%;
  max-width: 800px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teamItem {
  background-color: #f5f5f5; 
  border-radius: 10px;
  padding: 15px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  transition: transform 0.2s ease-in-out;
}

.teamItem:hover {
  transform: translateY(-3px);
}

.teamInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.toggleSwitchContainer {
  margin-bottom: 10px;
  text-align: center;
}

.toggleSwitch {
  display: inline-block;
  padding: 10px;
  background-color: #1C3738; 
  color: #F4FFF8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.toggleSwitch:hover {
  background-color: #163033; 
}

@media (max-width: 768px) {
  .teamManagement, .teamEdit {
    flex-direction: column;
    align-items: center;
  }

  input[type="text"], button {
    width: 100%; 
    margin-bottom: 10px;
  }

  .teamList {
    width: 90%; 
  }
}
